.root {
    position: relative;
    width: 100%;
}

.dragging {
    opacity: 0.4;
}

.emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
}

.dot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
}
